# When adapting something here, look at /docs/env.md first!

POSTGRES_DB=vlaorga-dev
POSTGRES_USER=mypguser
POSTGRES_PASSWORD=abcde12345

LINUS_DB=db_name
LINUS_USER=db_user
LINUS_PASSWORD=db_password

# Backend configuration

# Note: Next variable depends on container name / port of the according database in VLA-Backend/Dockerfile! 
# Usually localhost instead of db in dev environment
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${POSTGRES_DB}
SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}

SPRING_SECOND_DATASOURCE_URL=jdbc:mariadb://linus-db:3306/${LINUS_DB}
SPRING_SECOND_DATASOURCE_USERNAME=${LINUS_USER}
SPRING_SECOND_DATASOURCE_PASSWORD=${LINUS_PASSWORD}
