
# Environment
.env
*.env.local

# Logs
*.log
logs/

# Frontend (Node, Vite)
node_modules/
dist/
dist-ssr/
.vite/
*.local

# Backend (Spring Boot, Gradle)
build/
.gradle/
target/
bin/

# IDE / Editors
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Misc
*.tmp
*.swp
