/* Prevents the reloading swipe from top for mobile devices */
html, body {
    overscroll-behavior-y: none;
}

.DragComponent {
    position: fixed;
    z-index: 998;
    user-select: none;
}

.dragClose {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
}