.experimentEntry {
    padding: 5px 10px;
    text-align: center;
    border-radius: 15px;
    overflow-x: scroll;
    text-wrap: nowrap;
    max-width: 80%;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}

.experimentSection {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: none;
    flex-direction: column;
}