name: VLAOrga CI

on:
  # run on every commit to main
  push:
    branches: [ "main" ]
  # run on every pull request targeting main
  pull_request:
    branches: [ "main" ]

jobs:
  vlaorga-ci:
    runs-on: ubuntu-latest
    steps:
      - name: check out git repo
        uses: actions/checkout@v4
      - name: copy secrets file
        run: cp .env.template .env
      - name: build and start db container
        run: docker compose up --build --detach db
      - name: build and start backend container
        run: docker compose up --build --detach backend
      - name: tag backend test container
        run: docker build --target build -t vlaorga-backend-gradle .
        working-directory: VLA-Backend
      - name: run backend tests
        run: docker run vlaorga-backend-gradle ./gradlew check
        working-directory: VLA-Backend
      - name: lint backend
        run: docker run vlaorga-backend-gradle ./gradlew checkstyleMain
        working-directory: VLA-Backend
        if: success() || failure()
      - name: lint backend tests
        run: docker run vlaorga-backend-gradle ./gradlew checkstyleTest
        working-directory: VLA-Backend
        if: success() || failure()

  # this would work if we had the gradle project in our repo at root level
  # since github actions with "uses" don't support working-directory change
  #
  # build-backend:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Set up JDK
  #       uses: actions/setup-java@v4
  #       with:
  #         # this is the JDK version we use in the docker container
  #         # keep in mind to keep in sync
  #         java-version: '21'
  #         distribution: 'temurin'

  #     # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
  #     # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
  #     - name: Setup Gradle
  #       uses: gradle/actions/setup-gradle@v5
  #     - name: Build Backend with Gradle Wrapper
  #       run: ./gradlew build

  vlaorga-frontend-ci:
    runs-on: ubuntu-latest
    steps:
      - name: check out git repo
        uses: actions/checkout@v4
      - run: npm install
        working-directory: VLA-Frontend
      - run: npm run lint
        working-directory: VLA-Frontend
      - run: npm run build
        working-directory: VLA-Frontend
        if: success() || failure()
